<nav id="sidebar-icon-links">
    <span class="site-version"> Project links &nbsp &nbsp </span>
  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.github.repo }}">
      {% include svg/gitlab.svg %}
    </a>
    {% comment %}
    <a id="github-download-link"
       class="icon" title="Download" aria-label="Download"
       href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">
      {% include svg/download.svg %}
    </a>
    {% endcomment %}
  {% endif %}


  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.baseurl }}/{{ site.feed.path | default: 'feed.xml' }}">
    {% include svg/feed.svg %}
  </a>



  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}

  {% comment %}

  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ site.baseurl }}{{ tags_page.url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ site.baseurl }}{{ search_page.url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
  {% endcomment %}


  {% include custom-icon-links.html %}
</nav>
